In [1]:
import pandas as pd
 
df = pd.read_csv("allCars.csv")

In [8]:
df[df.id == 4].count()

tarih    32
cord1    32
cord2    32
id       32
dtype: int64

In [19]:
ids = df[df.id == 5]
ids.count()

tarih    6353
cord1    6353
cord2    6353
id       6353
dtype: int64

In [18]:
ids = df[df.id < 6]
ids.count()

tarih    30130
cord1    30130
cord2    30130
id       30130
dtype: int64

In [6]:
import csv 

#sorted_ids = ids.sort_values('tarih').groupby('id')


with open('sorted_ids.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)

    for index, row in ids.iterrows():
    
        writer.writerow(row)

In [4]:
import pymongo
from pymongo.server_api import ServerApi
client = pymongo.MongoClient("mongodb+srv://Charon:Charon@navigation.xptsq.mongodb.net/VehicleMonitor?retryWrites=true&w=majority", server_api=ServerApi('1'))
db = client.test

Collection(Database(MongoClient(host=['navigation-shard-00-02.xptsq.mongodb.net:27017', 'navigation-shard-00-00.xptsq.mongodb.net:27017', 'navigation-shard-00-01.xptsq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-dqjbtr-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x111a63280>), 'test'), 'connect')

In [9]:
ids[ids.id == 4].count()

tarih    32
cord1    32
cord2    32
id       32
dtype: int64

In [14]:

sorted_ids_date = ids.sort_values('tarih').groupby('id').tail(1440)
sorted_ids_date

""" with open('last_24_hours.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)

    for index, row in ids.iterrows():
    
        writer.writerow(row) """

" with open('last_24_hours.csv', 'w', encoding='UTF8') as f:\n    writer = csv.writer(f)\n\n    for index, row in ids.iterrows():\n    \n        writer.writerow(row) "

In [17]:

sorted_ids_date = ids.sort_values('tarih')
sorted_ids_date

with open('last_24_hours2.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)

    for index, row in sorted_ids_date.iterrows():
    
        writer.writerow(row)

In [15]:
sorted_ids_date.count()

tarih    4352
cord1    4352
cord2    4352
id       4352
dtype: int64

In [9]:
ids = ids + df[df.id ==5]
ids

      tarih  cord1  cord2  id
0       NaN    NaN    NaN NaN
1       NaN    NaN    NaN NaN
2       NaN    NaN    NaN NaN
3       NaN    NaN    NaN NaN
4       NaN    NaN    NaN NaN
...     ...    ...    ...  ..
30125   NaN    NaN    NaN NaN
30126   NaN    NaN    NaN NaN
30127   NaN    NaN    NaN NaN
30128   NaN    NaN    NaN NaN
30129   NaN    NaN    NaN NaN

[30130 rows x 4 columns]